// Fonts ->
$base-font-family: 'Poppins', sans-serif; 
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular : 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;


//Colors ->
$color-white: #ffffff;
$color-gray: #BEC3CF;
$color-gray-dark: #3F3F40;
$color-faint-gray: #F3F5F9;
$color-yellow: #FFCC00;
$color-purple: #3019B2;
$color-purple-title: #3442B5;
$color-purple-2: #3442B5;
$color-purple-3: #271C47;
$color-black: #000000;



// Media Query Breakpoints
$breakpoint-small : 600px;
