 .banner-home {

    display: flex;
    width: 100%;
    height: 390px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #ffffff0c, #000000d8),
       url(../../../../public/image/banner.png);
    background-position: right;
    margin-top: 28px;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;

    .container-info-banner {

       height: 100%;
       display: flex;
       flex-direction: column;
       color: $color-white;
       font-family: "Poppins", serif;
       padding-left: 32px;
       justify-content: center;
       align-items: start;


       .main-text {

          width: 822px;
          height: 110px;
          font-size: clamp(24px, 48px, 96px);
          font-weight: bolder;
          letter-spacing: 1px;
          text-wrap: wrap;
          line-height: 48px;

       }

       .info-text {

          font-size: clamp(16px, 32px, 64px);
          font-weight: normal;
          letter-spacing: 1px;
          text-wrap: nowrap;
          margin-bottom: 41px;

          strong {

             color: $color-yellow;
             font-weight: bolder;

          }

       }

       .btn-checkout {

          width: 144px;
          height: 48px;
          font-size: clamp(8px, 16px, 32px);
          font-weight: bold;
          background-color: $color-yellow;
          border: none;
          border-radius: 6px;
          color: $color-purple-3;
          cursor: pointer;

       }

       .btn-checkout:hover {
          color: $color-white;

       }
    }
 }

 section>.section-title {

    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    h2 {

       color: $color-purple-title;
       font-size: clamp(10px, 24px, 32px);
       font-weight: bolder;
       text-align: center;
    }

    hr {

       display: flex;
       width: 200px;
       height: 1px;
       background-color: $color-gray;
       border: none;
    }

 }

 .section-category {

    display: flex;
    justify-content: center;
    min-height: 171px;
    height: auto;
    flex-wrap: wrap;
    gap: 3%;

    .container-icon-card {

       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       width: 128px;
       height: 171px;
       cursor: pointer;

       span {

          display: flex;
          width: 100%;
          height: 70%;
          justify-content: center;
          align-items: center;
          background-color: #F4F4F4;
          border-radius: 10px;
          box-shadow: 0 2px 8px $color-gray;

          img {
             width: 61px;
             height: 61px;
          }
       }

       p {

          font-family: "Poppins", serif;
          font-size: clamp(6px, 14px, 3rem);
          font-weight: 600;
          font-style: normal;
          color: $color-gray-dark;
          text-align: center;
          text-wrap: nowrap;

       }

       p:hover {
          color: $color-purple-2;
       }
    }

    .container-icon-card:hover {
       color: $color-purple-2;

       img {
          color: $color-purple-2;
       }
    }
 }

 .container-list-product {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: initial;
    padding: 20px;


    .list-type-products {

       display: flex;
       width: 100%;
       margin-bottom: 24px;
       justify-content: center;
       align-items: center;


       .btn-type-list {

          width: 19%;
          height: 40px;
          border: 1px solid $color-gray;
          border-radius: 0;
          color: $color-gray-dark;
          cursor: pointer;

          font-size: clamp(10px, 14px, 22px);
          font-family: 'poppins', 'sans';
          font-weight: bolder;

       }

       .btn-all-list {

          height: 40px;
          background-color: transparent;
          color: $color-gray-dark;
          cursor: pointer;
          border: none;

          font-size: clamp(12px, 16px, 22px);
          font-family: 'poppins', 'sans';
          font-weight: bolder;
       }

       .btn-all-list:hover,
       .btn-type-list:hover {
          color: $color-purple-title;

       }
    }

    .list-products {

       display: flex;
       gap: 14px;
       justify-content: center;
       align-items: center;
       width: 100%;


       .none {

          display: none;
          opacity: 0;
          overflow: hidden;
          z-index: 0;

       }

       .block {

          display: block;
          z-index: 1;

       }

       .carousel-button {

          display: flex;
          width: 32px;
          height: 32px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          align-items: center;
          justify-content: center   ;


       }

    }

 }

 .container-list-bannercard {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-bottom: 90px;

 }

 .container-list-circule-logo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;



    span {
       display: flex;
       width: 100%;
       height: 100%;
       flex-direction: row;
       gap: 42px;
       justify-content: center;
       flex-wrap: wrap;
    }

 }

 .container-Modal {

    display: flex;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #0000004c;

    justify-content: center;
    align-items: center;

 }


 .loader-points {

    outline: 1px solid transparent;
    font-size: 0px;
    padding: 0px;
    display: inline-block;

 }

 .loader-points span {

    background: $color-purple-2;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 2px 2px;
    -webkit-animation: loader-points 0.8s linear infinite alternate;
    animation: loader-points 0.8s linear infinite alternate;
 }

 .loader-points span:nth-child(1) {

    -webkit-animation-delay: -0.8;
    animation-delay: -0.8s;

 }

 .loader-points span:nth-child(2) {
    -webkit-animation-delay: -0.53333s;
    animation-delay: -0.53333s;
 }

 .loader-points span:nth-child(3) {

    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
 }

 @keyframes loader-points {

    from {
       transform: scale(0, 0);
    }

    to {
       transform: scale(1, 1);
    }
 }

 @-webkit-keyframes loader-points {

    from {
       -webkit-transform: scale(0, 0);
    }

    to {
       -webkit-transform: scale(1, 1);
    }
 }